.git
.github
node_modules
vendor
frontend
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.production.example
docker-compose.override.yml
tests
.phpunit.result.cache
README.md
